<div class="user-panel-container mt-20">
  <div fxLayout="row wrap" class="flex-wrapper">
    <div fxFlex="50"  class="col">
      <h2 class="primary-text  text-center">Change Password</h2>
      <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">

        <mat-form-field  appearance="outline" class="w-100 mt-10">
          <mat-label>Enter Old Password</mat-label>
          <input matInput placeholder="Old Password" formControlName="oldPassword" type="password" minlength="6" required>
          <mat-error *ngIf="changePasswordForm.controls.oldPassword.errors?.required">Password is required</mat-error>
          <mat-error *ngIf="changePasswordForm.controls.oldPassword.hasError('minlength')">Password isn't long enough, minimum of 6 characters</mat-error>

        </mat-form-field>
       <mat-form-field  appearance="outline" class="w-100 mt-10">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password" formControlName="password" type="password" minlength="6" required>
          <mat-error *ngIf="changePasswordForm.controls.password.errors?.required">Password is required</mat-error>
          <mat-error *ngIf="changePasswordForm.controls.password.hasError('minlength')">Password isn't long enough, minimum of 6 characters</mat-error>

        </mat-form-field>



        <mat-form-field  appearance="outline" class="confirm-pwd-field w-100 mt-10">
          <mat-label>Confirm Password</mat-label>
          <input matInput placeholder="Confirm Password" formControlName="confirmPassword"  type="password" required>
          <mat-error  *ngIf="changePasswordForm.controls.confirmPassword.errors?.required">Confirm Password is required</mat-error>
          <mat-error    *ngIf="changePasswordForm.controls.confirmPassword.hasError('mismatchedPasswords')"><span class="mismatched-passwords">Passwords do not match</span></mat-error>
        </mat-form-field>



        <div class="text-center mt-2">
          <button mat-raised-button color="primary" (click)="changePassword()" >
            <mat-icon inline=true>person_add</mat-icon>
            Change
          </button>

        </div>
      </form>


    </div>
  </div>
</div>

